body {
    background-image: url('../img/bg.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
div.index-card {
    width: 20rem;
    text-align-last: center ;
    margin: auto;
    margin-top: 7rem;
    background-color: beige;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    text-align-last: start;
}

.navbar a:hover {
    background-color: blanchedalmond;
    color: red;
}

.btn.active {
    background-color: antiquewhite;
}
div.hide {
    display: none;
}

div.main-card {
    width: 70rem;
    text-align-last: start ;
    margin: auto;
    margin-top: 2rem;
}