body {
    background-image: url('../img/bg.png');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.card {
    width: 20rem;
    text-align-last: center ;
    margin: auto;
    margin-top: 7rem;
    border-radius: 0.5rem;
    background-color: beige;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    text-align-last: start;
}