body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.index-card {
    width: 20rem;
    text-align-last: center ;
    margin: auto;
    margin-top: 7rem;
    box-shadow: 5px 5px 5px hsl(215, 38%, 13%);
}
div.index-card .form-group {
    margin-bottom: 1rem;
}
div.index-card .form-control {
    text-align-last: start;
}

.nav-header {
    background-color: rgb(4,80,154);
    background-image: linear-gradient(to bottom, rgb(4,80,154), #023260);
}
.nav-header a, .nav-header div a, .nav-header div span {
    text-decoration: none;
    color: rgb(224, 217, 217);
}
.navbar a:hover {
    color: white;
}


.btn.active {
    border-bottom: 4px solid #131b4f;
}
.hide {
    display: none;
}

div.main-card {
    width: 95%;
    text-align-last: start ;
    margin: auto;
    margin-top: 2rem;
}
.nav-container .card-header {
    background-color: #131b4f;
    color: white;
}

.image .card-header{
    background-color: aliceblue;
    color: black;
}
.hide-input-file {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.readonly {
    background-color: #e9ecef;
    cursor: context-menu;
}
.readonly:focus {
    background-color: #e9ecef;
}

.form-group.required .control-label::after {
    content:"*";
    color:red;
}

th {
    white-space: nowrap; 
}

#scrollX {
    display: block;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
