@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

body {
    background-color: #4170b6;
}

/* index.php */
.container {
    margin: auto;
    margin-top: 4rem;
    padding: 1rem;
    text-align-last: center;
    width: 40%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.container h1 {
    font-size: 2rem;
    border-bottom: 2px solid #000;
}

.form {
    margin: auto;
}

.form-group {
    margin: 1rem;
}

input {
    text-align: center;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #fff;
}
.no-outline:focus {
    outline: none;
}

.btn {
    color: #bfe8ec;
    cursor: pointer;
    background-color: #2690d9;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
}
a {
    text-decoration: none;
}
.btn:hover {
    border: 1px solid #17537a;
}
